name: "Build and Deploy"

on:
  push:
    branches:
      - Develop
      - main
    pull_request:

env:
  INFRA_DIRECTORY: "./infrastructure/"
  SOURCE_CODE_DIRECTORY: "./src"
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  HASHED_DIRS: |
    ./src
    .github
  TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
  TF_CLOUD_ORGANIZATION: ${{ vars.TF_CLOUD_ORGANIZATION }}
  TF_VAR_infra_name_prefix: "\"${{ vars.INFRA_NAME_PREFIX }}\""
  TF_VAR_aws_access_key_id: "\"${{ secrets.AWS_ACCESS_KEY_ID }}\""
  TF_VAR_aws_secret_access_key: "\"${{ secrets.AWS_SECRET_ACCESS_KEY }}\""
  TF_VAR_google_calendar_id: "\"${{ secrets.LAMBDA_GOOGLE_CALENDAR_ID }}\""
  TF_VAR_bot_id: "\"${{ secrets.LAMBDA_BOT_ID }}\""
  TF_VAR_google_service_account_creds: "\"${{ secrets.LAMBDA_GOOGLE_SERVICE_ACCOUNT_CREDS }}\""
  TF_VAR_google_sheet_id: "\"${{ secrets.LAMBDA_GOOGLE_SHEET_ID }}\""
  TF_VAR_api_callback_auth_token: "\"${{ secrets.LAMBDA_API_CALLBACK_AUTH_TOKEN }}\""

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Build source directory hash
        id: source-directory-hash
        uses: theowenyoung/folder-hash@v3
        with:
          path: ${{ env.HASHED_DIRS }}
      - name: Download cached artifact
        id: restore-cached-artifact
        uses: actions/cache/restore@v3
        with:
          key: encounter-bot-${{ env.BRANCH_NAME }}-${{ steps.source-directory-hash.outputs.hash }}
          path: ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip
      - name: Install dependencies
        if: steps.restore-cached-artifact.outputs.cache-hit != 'true'
        working-directory: ${{ env.SOURCE_CODE_DIRECTORY }}
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        if: steps.restore-cached-artifact.outputs.cache-hit != 'true'
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        if: false
        working-directory: ${{ env.SOURCE_CODE_DIRECTORY }}
        run: |
          pytest
      - name: Bundle source with dependencies
        if: steps.restore-cached-artifact.outputs.cache-hit != 'true'
        working-directory: ${{ env.SOURCE_CODE_DIRECTORY }}
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt --target=./; fi
          zip -r function.zip .
      - name: Save artifact to cache
        if: steps.restore-cached-artifact.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          key: encounter-bot-${{ env.BRANCH_NAME }}-${{ steps.source-directory-hash.outputs.hash }}
          path: ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip
  terraform-plan-dev:
    runs-on: ubuntu-latest
    needs: build
    environment: Develop
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build source directory hash
        id: source-directory-hash
        uses: theowenyoung/folder-hash@v3
        with:
          path: ${{ env.HASHED_DIRS }}
      - name: Download cached artifact
        id: restore-cached-artifact
        uses: actions/cache/restore@v3
        with:
          key: encounter-bot-${{ env.BRANCH_NAME }}-${{ steps.source-directory-hash.outputs.hash }}
          path: ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip
      - name: Copy artifact to terraform directory
        run: cp ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip ${{ env.INFRA_DIRECTORY }}/function.zip
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.3
        id: plan-upload
        with:
          workspace: ${{ vars.TF_WORKSPACE }}
          directory: ${{ env.INFRA_DIRECTORY }}
          speculative: true
      - name: Create Plan Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.3
        id: plan-run
        with:
          workspace: ${{ vars.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}
          plan_only: true
      - name: Get Plan Output
        uses: hashicorp/tfc-workflows-github/actions/plan-output@v1.0.3
        id: plan-output
        with:
          plan: ${{ fromJSON(steps.plan-run.outputs.payload).data.relationships.plan.data.id }}
      - name: Update PR
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v6
        id: plan-comment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            // 1. Retrieve existing bot comments for the PR
            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            });
            const botComment = comments.find(comment => {
              return comment.user.type === 'Bot' && comment.body.includes('Terraform Cloud Plan Output')
            });
            const output = ` Terraform Cloud Plan Output
               \`\`\`
               Plan: ${{ steps.plan-output.outputs.add }} to add, ${{ steps.plan-output.outputs.change }} to change, ${{ steps.plan-output.outputs.destroy }} to destroy.
               \`\`\`
               [Terraform Cloud Plan](${{ steps.plan-run.outputs.run_link }})
               `;
            // 3. Delete previous comment so PR timeline makes sense
            if (botComment) {
              github.rest.issues.deleteComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
              });
            }
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            });
  terraform-apply-dev:
    runs-on: ubuntu-latest
    needs: [build, terraform-plan-dev]
    if: ${{ (github.head_ref || github.ref_name) == 'Develop' || (github.head_ref || github.ref_name) == 'main' }}
    environment: Develop
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build source directory hash
        id: source-directory-hash
        uses: theowenyoung/folder-hash@v3
        with:
          path: ${{ env.HASHED_DIRS }}
      - name: Download cached artifact
        id: restore-cached-artifact
        uses: actions/cache/restore@v3
        with:
          key: encounter-bot-${{ env.BRANCH_NAME }}-${{ steps.source-directory-hash.outputs.hash }}
          path: ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip
      - name: Copy artifact to terraform directory
        run: cp ${{ env.SOURCE_CODE_DIRECTORY }}/function.zip ${{ env.INFRA_DIRECTORY }}/function.zip
      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.3
        id: apply-upload
        with:
          workspace: ${{ vars.TF_WORKSPACE }}
          directory: ${{ env.INFRA_DIRECTORY }}
      - name: Create Apply Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.3
        id: apply-run
        with:
          workspace: ${{ vars.TF_WORKSPACE }}
          configuration_version: ${{ steps.plan-upload.outputs.configuration_version_id }}
      - name: Apply
        uses: hashicorp/tfc-workflows-github/actions/apply-run@v1.0.3
        if: fromJSON(steps.apply-run.outputs.payload).data.attributes.actions.IsConfirmable
        id: apply
        with:
          run: ${{ steps.apply-run.outputs.run_id }}
          comment: "Apply Run from GitHub Actions CI ${{ github.sha }}"